
<p>
  <strong>Title:</strong>
  <%= @prize.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @prize.text %>
</p>

<%= link_to 'Edit', edit_prize_path(@prize) %>
<%= link_to 'Back to Prizes', prizes_path %>
